* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: rgba(182, 149, 65, 0.09);
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-reddit-mono);
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

 .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
