.enterMainPage {
  margin-bottom: 0.5rem;
  background-color: rgb(35, 188, 190);
  border: 0px;
  padding: 0.5rem 0.3rem;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
}

.ticketInfo {
  padding: 1rem 2rem;
  border-bottom: 2px dotted #333;
  border-top: 2px dotted #333;
}

.infoBlock {
  display: flex;
  min-width: 32rem;
  justify-content: space-between;
  align-items: center;
}

/* .buyTicket {
  cursor: pointer;
} */

.warningAlert {
  color: #000;
  border: rgb(7, 216, 180) 2px groove;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0.5rem;
}